---
import Layout from "../layouts/Layout.astro";

const pageTitle = "About Me";
const pageDescription = "Learn more about me and this blog.";
---

<Layout title={pageTitle} description={pageDescription}>
  <main class="space-y-4">
    <h1 class="text-4xl font-extrabold">Nulovrsis</h1>
    <p>
      你好！ Welcome to the About page! My name is Nulovrsis, and this is my
      personal blog where I share thoughts, ideas, and projects. Feel free to
      explore and learn more about me.
    </p>
  </main>
</Layout>
